


.reactions-preview-container{
	background-color: rebeccapurple;
	display: flex;
	gap: 10px;
	cursor: pointer;
}

.preview-item{
	background-color: pink;
	height: 24px;
	border-radius: 5px;
	display: flex;
	gap: 5px;
	padding-left: 7px;
	padding-right: 7px;
	justify-content: center;
	align-items: center;
}



.reaction-preview{
	width: 20px;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}